<div class="container-fluid">
  <app-loader ></app-loader>

  <!-- start page title -->
  <div class="row">
    <div class="col-12">
      <div class="page-title-box d-flex align-items-center justify-content-between">
        <h4 class="mb-0 font-size-18">Dashboard</h4>
        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <ng-container>
              <li class="breadcrumb-item">
                <a href="javascript: void(0);"></a>
              </li>
              <li class="breadcrumb-item active"></li>
            </ng-container>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <!-- end page title -->

  <div class="row"   style="height: 100%;">
    <div class="col-xl-4">
      <div class="card overflow-hidden">
        <div class="bg-primary-subtle">
          <div class="row" >
            <div class="col-7">
              <div class="text-primary p-3">
                <h5 class="text-primary"  >Welcome Back !</h5>
                <p>Innovx Dashboard</p>
              </div>
            </div>
            <div class="col-5 align-self-end">
              <img src="assets/images/profile-img.png" alt="" class="img-fluid" />
            </div>
          </div>
        </div>
        <div class="card-body pt-0">
          <div class="row">
            <div class="col-sm-4">
              <div class="avatar-md profile-user-wid mb-4">
                <img src="assets/images/users/avatar.jpg" alt="" class="img-thumbnail rounded-circle" />
              </div>
              <h5 class="font-size-15 text-truncate">{{username}}</h5>
              <p class="text-muted mb-0 text-truncate">{{Role}}</p>
            </div>

            <div class="col-sm-8">
              <div class="pt-4">
                <div class="mt-4">
                  <a href=""  class="btn btn-primary btn-sm" >View Profile <i class="mdi mdi-arrow-right ms-1"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8">
      <div class="row" style="height: 100%;">
        <div style="display: flex; width: 100%;height: 100%">

          <app-stat    style="width: 100%;height: 100%"></app-stat>
        </div>
      </div>
      <!-- end row -->


    </div>

  </div>

  <div class="row">
    <div #calendarContainer>
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <app-calendar></app-calendar>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
