.custom-day {
    text-align: center;
    padding: 0.185rem 0.25rem;
    display: inline-block;
    height: 2rem;
    width: 2rem;
}

.custom-day.focused {
    background-color: #e6e6e6;
}

.custom-day.range,
.custom-day:hover {
    background-color: #556ee6;
    color: white;
}

.custom-day.faded {
    background-color: #556ee6;
}
.avatar-title {
  width: 80px;
  height: 80px;
  position: fixed;

}


.avatar-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%; /* Transforme l'image en cercle */

}